[submodule "nixpkgs"]
	path = nixpkgs
	url = https://github.com/NixOS/nixpkgs.git
[submodule "fontconfig/infinality"]
	path = fontconfig/infinality
	url = https://github.com/bohoomil/fontconfig-ultimate.git
